<div class="editmaster">
  <h3>{{master_name}}</h3>

  <nav class="breadcrumb">
    <a class="breadcrumb-item" [routerLink]="['/home']">Dashboard</a>
    <a class="breadcrumb-item" [routerLink]="['/home']">Admin</a>
    <a class="breadcrumb-item" [routerLink]="['/dashboard']">Masters</a>
    <span class="breadcrumb-item active">Edit Masters</span>
  </nav>

  <div class="card">

    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Master Name</label>
      <div class="col-10">
        <input class="form-control" type="text" value="{{master_name}}" id="example-text-input" disabled>
      </div>
    </div>


    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Master Description</label>
      <div class="col-10">
        <input class="form-control" type="text" value="{{master_desc}}" id="example-text-input" disabled>
      </div>
    </div>


    <div class="col-6" *ngIf="linkflag">
      <div class="form-group">
        <label for="Select1">Choose your {{linktype}}</label>
        <select (change)="change()" class="form-control" id="Select1">
         <option value="" disabled>Choose your option</option>
         <option *ngFor="let val of linkvalues">{{val.linkName}}</option>
        </select>
      </div>
    </div>


    <form *ngIf="!linkflag">
      <fieldset class="card form-group">
        <legend class="card legendary">Add Record Details</legend>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="code">Code</label>
              <input type="text" class="form-control" id="code" placeholder="Enter Here">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Here">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description" placeholder="Enter Here">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="example-date-input" class="col-2 col-form-label">Date</label>
              <div class="col-10">
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="example-date-input" class="col-2 col-form-label">Date</label>
              <div class="col-10">
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>

          </div>

          <div class="col-6">
            <div class="form-group row">
              <label class="col-sm-2">Status</label>
              <div class="col-sm-10">
                <div class="form-check">
                  <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Active
          </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col s4 m4 offset-s8 offset-m8">
            <button type="button" [routerLink]="['/dashboard']" class="btn btn-warning">Cancel</button>
            <button type="button" class="btn btn-primary">Add Record</button>
          </div>
        </div>
      </fieldset>
    </form>

    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>{{master_type + ' Code'}}</th>
          <th>{{master_type + ' Name'}}</th>
          <th>Effective Date</th>
          <th>Expiry Date</th>
          <th>Status</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let col of references; let i = index;">
          <td>{{col.code}}</td>
          <td>{{col.value}}</td>
          <td>{{col.effectiveStartDate}}</td>
          <td>{{col.effectiveEndDate}}</td>
          <td [ngClass]="{ 'table-success': col.status == 'Active' , 'table-danger' : col.status == 'Inactive'}">{{col.status}}</td>
          <td (click)="showid(i)"><a>Edit</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>