<h3>{{master_name}}</h3>

<nav>
  <div class="nav-wrapper teal lighten-2">
    <div class="col s12">
      <a [routerLink]="['/home']" class="breadcrumb">Dashboard</a>
      <a [routerLink]="['/home']" class="breadcrumb">Admin</a>
      <a [routerLink]="['/dashboard']" class="breadcrumb">Masters</a>
      <a class="breadcrumb">Edit Masters</a>
    </div>
  </div>
</nav>
<p></p>

<div class="row">
  <div class="col s12 m12">
    <div class="card-panel teal lighten-1">
      <span class="white-text">
        <h6>{{master_desc}}</h6>
      </span>
    </div>
  </div>
</div>

<p> </p>
<form>
  <fieldset class="card">
    <legend class="card z-depth-1 grey lighten-2 pad">Add Record Details</legend>
    <div class="row">
      <div class="col s6 m6">
        <i class="material-icons prefix">mode_edit</i><input type="text" autocomplete placeholder="Code"><br>
      </div>
      <div class="col s6 m6">
        <i class="material-icons prefix">mode_edit</i><input type="text" autocomplete placeholder="Name"><br>
      </div>
      <div class="col s12 m12">
        <i class="material-icons prefix">mode_edit</i><input type="text" autocomplete placeholder="Description"><br>
      </div>
      <div class="col s6 m6">
        <i class="material-icons prefix">today</i><input type="date" class="datepicker" placeholder="Effective date"><br>
      </div>
      <div class="col s6 m6">
        <i class="material-icons prefix">today</i><input type="date" class="datepicker1" placeholder="Expiry date">
      </div>
      <p></p>
      <!-- Switch -->
      <div class="col s6 m6">
        <i class="material-icons prefix">spellcheck</i>
        <div class="switch bringdown">
          <span class="col s2 m2">Status: </span>
          <label>
          <i class="material-icons iconshift prefix">visibility_off</i>Inactive
          <input type="checkbox">
          <span class="lever"></span>
          <i class="material-icons iconshift prefix">visibility</i>Active
        </label>
        </div>
      </div>
      <div class="input-field col s6 m6 offset-s6 offset-m6" *ngIf="linkflag">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let val of linkvalues; let i = index;" value="{{val.linkId}}">{{val.linkName}}</option>
          <!--<option value="1">South</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>-->
        </select>
        <label>{{linktype}}</label>
      </div>
      <div class="col s4 m4 offset-s8 offset-m8">
        <a class="waves-effect waves-light btn" [routerLink]="['/dashboard']"><i class="material-icons left">clear</i>Cancel</a>
        <a class="waves-effect waves-light btn"><i class="material-icons left">done_all</i>Add Record</a>
      </div>
    </div>
  </fieldset>
</form>

<!--<p>No Of Records : {{noofrecords }}</p>
<ul class="pagination">
  <li *ngIf="!firstpage" (click)="pagination(0)" class="disabled"><i class="material-icons">chevron_left</i></li>
  <li (click)="pagination(1)" class="waves-effect">1</li>
  <li (click)="pagination(2)" class="waves-effect">2</li>
  <li (click)="pagination(3)" class="waves-effect">3</li>
  <li (click)="pagination(4)" class="waves-effect">4</li>
  <li (click)="pagination(5)" class="waves-effect">5</li>
  <li *ngIf="!lastpage" (click)="pagination(9999)" class="waves-effect"><i class="material-icons">chevron_right</i></li>
</ul>-->

<table class="bordered centered striped">
  <thead>
    <tr class="grey">
      <th>{{master_type + ' Code'}}</th>
      <th>{{master_type + ' Name'}}</th>
      <th>Effective Date</th>
      <th>Expiry Date</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let col of references; let i = index;">
      <td>{{col.code}}</td>
      <td>{{col.value}}</td>
      <td>{{col.effectiveStartDate}}</td>
      <td>{{col.effectiveEndDate}}</td>
      <td>{{col.status}}</td>
      <td (click)="showid(i)"><a>Edit</a></td>
    </tr>
  </tbody>
</table>