<div class="dashboard">
    <div class="row">
        <h3 class="col-md-11 cold-md-offset-1">Masters</h3>
    </div>
    <div class="row">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" [routerLink]="['/home']">Dashboard</a>
            <a class="breadcrumb-item" [routerLink]="['/home']">Admin</a>
            <span class="breadcrumb-item active">Masters</span>
        </nav>
    </div>

    <autocomplete></autocomplete>

    <div class="row">
        <h3 class="summary">Summary</h3>
    </div>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th class="leftyname">Name</th>
                <th class="lefty">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let master of masterdata; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td class="lefty"><a (click)=goto(master.name)>{{master.name}}</a></td>
                <td class="lefty">{{master.description}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>