<div class="autocomplete">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-12">
                    <input [(ngModel)]=query (keyup)=filter() class="form-control" type="text"  id="example-text-input">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" (click)="onClick()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="suggestions col s12 m12" *ngIf="filteredList.length > 0">
            <span *ngFor="let item of filteredList" class="badge badge-default lefty" (click)="select(item)">
                {{item}}
            </span>
        </div>
    </div>
</div>