

    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Master Name</label>
      <div class="col-10">
        <input class="form-control" type="text" value="{{name}}" id="example-text-input" disabled>
      </div>
    </div>


    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Master Description</label>
      <div class="col-10">
        <input class="form-control" type="text" value="{{description}}" id="example-text-input" disabled>
      </div>
    </div>
